<%- include("header") -%> 
<h1>This is about page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ab repellat odit et ipsam vero voluptas dolore dignissimos eos, quod officia nulla, voluptates quibusdam ipsa esse minus labore? Voluptate, quia.</p>
<%- include("footer") -%> 
